.agency-section {
    width: 30em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    & label {
        padding-left: 0.5em;
    }

    & input {
        appearance: auto;
    }
}

.agency-info {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    height: 2em;
}

.agency-date {
    display: flex;
    gap: 1em;

    & label {
        width: 60%;
    }
}
