.custom_button {
  margin-left: 0.5em;
  transition: 0.3s;
  border-radius: 6px;
  min-height: 2.5em;
  padding: 0.3em 0.5em;
}

.normal {
  border: 2px solid var(--line-color);
  background-color: white;
}

.normal:hover {
  border: 2px solid var(--text-color);
  background-color: var(--text-color);
  color: var(--text-white-color);
}

.black {
  border: 2px solid var(--line-color);
  background-color: black;
  color: var(--text-white-color);
}

.black:hover {
  border: 2px solid var(--text-color);
  color: var(--text-color);
  background-color: white;
}
