.account_title {
  width: 80%;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 1em;
  margin-bottom: 1em;

  h5 {
    font-weight: bold;
    margin: 0;
  }
}

.account_container {
  width: 80%;
  flex: 1;
  display: grid;
  grid-template-columns: 0.3fr 1fr;

  gap: 1em;

  .custom_box {
    margin-bottom: 1em;
    padding: 0;
    justify-content: center;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    background-color: white;
  }
}
.account_myInfo {
  padding: 0em 3em;
}

.account_inner {
  border: 1px solid var(--line-color);
  position: relative;
  padding: 1em;
}

.account_label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  align-items: center;
  width: 60%;

  label {
    margin-bottom: 0.5em;
    width: 100%;
    font-weight: bold;
  }

  input {
    width: 100%;
    border: 1px solid var(--line-color);
    margin-top: 0.3em;
    padding: 0.3em 0.5em;
  }
}

.account_btn {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  padding-top: 0.5em;

  button {
    border: 1px solid var(--text-point-color);
    padding: 0.5em;
    border-radius: 5px;
  }
}

.account_push_setting {
  display: flex;
  justify-content: space-between;
  margin: 2em;

  p {
    margin: 0;
    font-weight: bold;
  }

  label {
    margin-left: 2em;
    cursor: pointer;

    input {
      margin-left: 0.3em;
    }
  }
}

.setting_tab_2 {
  padding: 1em;

  .reason_check_input {
    margin-right: 1em;
    width: 10px;
    height: 18px;
    border: none;
    border-bottom: 3px solid var(--line-color);
    border-right: 3px solid var(--line-color);
    transform: rotate(45deg);
  }

  label {
    cursor: pointer;
    width: max-content;
  }

  .reason_check_input:checked {
    border-bottom: 3px solid var(--text-point-color);
    border-right: 3px solid var(--text-point-color);
    background-color: white;
  }

  .tab2_reason_section {
    padding-bottom: 2em;
    border-bottom: 3px solid var(--line-color);
    display: flex;
    flex-direction: column;
    gap: 2em;

    h5 {
      font-weight: bold;
      margin-bottom: 0.5em;
    }
  }
  .reason_list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
  }

  ul {
    list-style: "- ";
    padding: 0;
    margin-top: 1em;
    line-height: 1.5em;
    font-weight: bold;
    color: blue;
  }

  .tab2_btn {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;

    button {
      border-radius: 5px;
      background-color: antiquewhite;
      padding: 0.5em 2em;
    }
  }
}
