.project_content_box {
  background-color: #fff7dd;
  padding: 0em 1em;
  height: 4em;
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 0.5fr 1.5fr 0.5fr 0.5fr 0.3fr;
  box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.3);

  .content_box_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
  }

  .content_box_status,
  .content_box_date {
    text-align: center;
  }

  .content_box_status,
  .content_box_name {
    font-weight: bold;
  }
}

.content_box_memo {
  padding: 0.5em 0em;
  border-radius: 5px;
  font-weight: bold;
}

.memo_active {
  background-color: var(--text-color-yellow);
}

.content_box_memo_inner {
  position: relative;
  width: 100%;
  height: 0;
  opacity: 0;
  max-height: 0;
  /* transform-origin: top;
  transition: max-height 0.5s ease; */
  box-sizing: border-box;
  z-index: 10;
  overflow: hidden;

  button {
    position: absolute;
    right: 2em;
    bottom: 1em;
    background-color: var(--line-color-blue);
    padding: 0.5em;
    border-radius: 5px;
  }
}

.content_box_memo_inner.open {
  height: auto;
  max-height: 500px;
  opacity: 1;
  border: 1px solid var(--line-color);
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.3);
  padding: 2em 2em 1em 2em;
}

.content_memo {
  gap: 1em;
  width: fit-content;
}

.memo_label {
  width: 120px;
  text-align: right;
  font-weight: bold;
}

.memo_label_content {
  flex: 1;
  text-align: right;
}

.memo_label_content.only {
  width: 100%;
  /* border-top: 1px solid #ccc; */
  margin-bottom: 1em;
}

.memo_row {
  display: flex;
  margin-bottom: 8px;
}


@media screen and (max-width:430px){
  .project_content_box {
font-size: 14px;
padding: 0 0.5em;
  .content_box_img {
    width: 40px;
    height: 40px;
  }
}
}