.model_card {
  position: relative;

  img {
    width: 210px;
    height: 250px;
    object-fit: cover;
    object-position: top;
  }

  h5 {
    text-align: center;
    margin: 0.5em 0em 1em 0em;
    font-size: 1em;
  }

  span {
    color: transparent;
    -webkit-text-stroke: 1px var(--text-color);
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.5em;
    cursor: pointer;
    user-select: none;
  }

  .liked_color {
    color: var(--text-color-yellow);
    -webkit-text-stroke: 1px var(--text-color-yellow);
  }
}

@media screen and (max-width:430px){


.model_card {


  img {
    width: 180px;
    height: 250px;
    object-fit: cover;
    object-position: top;
  }

}


}