.selleb_edit_profile {
  width: 100%;

  .selleb_edit_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    h3 {
      letter-spacing: 3px;
      margin: 0;
    }
  }

  input:not(:placeholder-shown) {
    background-color: white;
  }
}

.selleb_edit_main_profile {
  width: 100%;
  display: flex;
  gap: 1em;
  margin-bottom: 3em;
}

.selleb_edit_main_img {
  width: 450px;
  height: 500px;
  object-fit: cover;
  object-position: top;
}

.selleb_edit_profile_pictures {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 2em;

  img {
    width: 175px;
    height: 220px;
    object-fit: cover;
  }
}

.selleb_edit_sub_img {
  width: 175px;
  height: 220px;
}

.selleb_work_scope {
  width: 100%;
}

.selleb_tags_list {
  ul {
    display: flex;
    gap: 0.5em;
    padding: 0;
    flex-wrap: wrap;
    margin-bottom: 0.5em;

    li {
      list-style: none;
      position: relative;

      button {
        position: absolute;
        right: 0.1em;
        top: 0.4em;
        border: none;
        background-color: inherit;
      }
    }
  }

  input {
    width: 5em;
    border: none;
    border-bottom: 1px solid var(--text-color-gray);
    padding-left: 0.2em;
  }

  input::placeholder {
    font-size: 0.8em;
  }

  button:last-child {
    border: none;
    background-color: inherit;
  }
}

.selleb_edit_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.selleb_edit_profile_List {
  display: flex;
  justify-content: space-around;
  padding: 1.4em 0em;
  gap: 2em;
  border: 2px solid var(--line-color);
  flex: 1;

  dl {
    margin: 0;
    gap: 2em;

    dt {
      font-size: 1.2em;
    }
    dd {
      width: 5em;
      font-size: 1em;
      height: 1em;

      div {
        border-bottom: none;
      }

      input {
        color: var(--text-color-gray);
      }
    }
  }

  input {
    width: 100%;
    height: 1.5em;
    border: none;
    padding-left: 0.2em;
    border-bottom: 1px solid var(--text-color-gray);
    text-align: left;
    letter-spacing: 1px;
  }
}

.selleb_edit_profile_range {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 3em;
  border-top: 2px solid var(--line-color);
  padding: 2em 0em;

  h5 {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  .selleb_range_info {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }
}

.selleb_edit_hourly_rangebar {
  position: relative;
}

.selleb_edit_hourly_rangebar::after {
  content: "";
  width: 2px;
  height: 100%;
  top: 0;
  right: -2em;
  background-color: var(--line-color);
  position: absolute;
}

.selleb_edit_pay {
  display: flex;
  align-items: center;

  span:first-child {
    font-weight: bold;
    color: var(--text-color-gray);
  }
  div {
    display: flex;
    border-bottom: none;
    align-items: center;
    justify-content: flex-end;

    input {
      text-align: center;
      width: 50%;
      border: none;
      border-bottom: 1px solid var(--text-color-gray);
    }
  }
}

.selleb_edit_career {
  display: flex;
  flex-direction: column;
  gap: 1em;

  li {
    list-style-type: "-";
    padding-left: 0.5em;
  }
}

.selleb_edit_star-icons {
  font-size: 1.5em;
}

@media screen and (max-width:430px){

  .selleb_edit_profile {

  .selleb_edit_header {
    display: flex;
    h3 {
      margin-bottom: 0.5em;
      text-align: center;
    }

    div {
       align-self: center;
    }
  }
}

.selleb_edit_main_profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.selleb_edit_main_img {
   width: 100%;
    height: 400px;
}

.selleb_edit_main_profile_img {
  img {
   width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
  }
}

.selleb_edit_sub_img {
  width: 90px;
  height: 90px;
}


.selleb_edit_profile_pictures{
  img {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
}

.selleb_edit_profile_List{
  flex-direction: column;
  padding: 1em;

    dl {
    margin-left: 1.5em;
    display: flex;
    flex-direction: row;

    dt {
      font-size: 1em;
      width: 90px;
    }
  }
}


.selleb_edit_profile_range {
  display: flex;
  flex-direction: column;
  padding: 2em;
  
  .selleb_edit_hourly_rangebar::after {
  display:none;
}
}
}