.selleb_edit_profile {
  width: 100%;

  header {
    display: flex;
    justify-content: space-between;

    nav {
      display: flex;
      margin-bottom: 0.5em;

      button {
        font-weight: bold;
      }
    }

    h3 {
      letter-spacing: 3px;
      font-weight: 600;
    }
  }
}

.selleb_edit_main_profile {
  width: 100%;
  display: flex;
  gap: 1em;
  margin-bottom: 3em;
}

.selleb_edit_main_img {
  width: 33em;
  height: 33.75em;
  object-fit: cover;
  object-position: top;
}

.selleb_edit_profile_pictures {
  display: flex;
  gap: 1em;

  img {
    height: 13em;
    width: 13em;
    object-fit: cover;
    object-position: top;
  }
}

.selleb_edit_sub_img {
  width: 13em;
  height: 13em;
}

.selleb_work_scope {
  width: 100%;
}

.selleb_tags_list {
  ul {
    display: flex;
    gap: 0.5em;
    padding: 0;
    flex-wrap: wrap;

    li {
      list-style: none;
      position: relative;

      button {
        position: absolute;
        right: 0em;
        top: 0.3em;
        border: none;
        background-color: inherit;
      }
    }
  }

  input {
    width: 5em;
    border: none;
    border-bottom: 1px solid var(--text-sub-color);
  }

  input::placeholder {
    font-size: 0.8em;
  }
  button:last-child {
    border: none;
    background-color: inherit;
  }
}

.selleb_edit_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selleb_edit_profile_List {
  display: flex;
  justify-content: center;
  gap: 3em;
  padding: 1.7em 0em;
  border: 2px solid var(--line-color);

  dl {
    gap: 2.5em;
    margin: 0;

    dd {
      height: 2em;

      div {
        border-bottom: none;
      }
    }
  }

  input {
    width: 5em;
    height: 2em;
    border: none;
    border-bottom: 1px solid var(--text-sub-color);
  }
}

.selleb_edit_profile_range {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 3em;
  border-top: 2px solid var(--line-color);
  padding: 3em 0em;

  h5 {
    color: var(--text-color);
    font-weight: bold;
  }
}

.selleb_edit_hourly_rangebar {
  position: relative;
}

.selleb_edit_hourly_rangebar::after {
  content: "";
  width: 2px;
  height: 100%;
  top: 0;
  right: -4em;
  background-color: var(--line-color);
  position: absolute;
}

.selleb_edit_pay {
  display: flex;
  align-items: center;

  span:first-child {
    font-weight: bold;
    color: var(--text-sub-color);
  }
  div {
    display: flex;
    border-bottom: none;
    align-items: center;
    justify-content: flex-end;

    input {
      text-align: center;
      width: 50%;
      border: none;
      border-bottom: 1px solid var(--text-sub-color);
    }
  }
}

.selleb_edit_career {
  display: flex;
  flex-direction: column;
  gap: 1em;

  li {
    list-style-type: "-";
    padding-left: 0.5em;
  }
}

.selleb_edit_star-icons {
  font-size: 1.5em;
}
