.bankPage_container {
  text-align: left;
  width: 100%;
  height: auto;
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;

  .bankPage_Info {
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    height: 200px;

    .bankPage_Info_Inner {
      border: 1px solid blue;
      display: flex;
      flex-direction: column;

      .bankPage_Info_title {
        border-bottom: 3px solid var(--line-color);
        padding: 1em;
        margin: 0;

        input {
          border: 1px solid red;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .bankPage_Info_desc {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }

      .bankPage_Info_Inner__Details {
        display: flex;
        flex-direction: column;
        padding: 1em;

        > p:first-child {
          margin-bottom: 1em;
        }

        p {
          margin-bottom: 0.5em;
        }

        .bankPage_Info_Inner_pay {
          display: flex;
          gap: 2em;
        }
      }
    }
  }

  .bankPage_content_box {
    border: 1px solid purple;
    flex: 1;
  }
}
