.sidebar_detail_container {
  border: 2px solid var(--text-color);
  max-height: max-content;
  border-radius: 15px;
  background-color: white;
  display: flex;
  padding: 2em 0em;
  align-items: center;
  flex-direction: column;

  label {
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-weight: bold;
    text-wrap: nowrap;
  }
}

.sidebar_detail_inner {
  width: 100%;
  padding: 0em 1em;
  gap: 2em;
  display: flex;
  flex-direction: column;
}

.detail_select {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .select_country {
    label {
      margin-right: 2em;
    }
    select {
      width: 100%;
    }
  }

  .select_option {
    border: none;
    padding: 0;
  }
  select {
    border-bottom: 1px solid var(--text-color-gray);
    font-size: clamp(12px, 2vw, 14px);
  }
}

.range_bar_section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.detail_select_color {
  .select_option {
    border: none;
    padding: 0;
  }

  label {
    width: 100%;
  }
  select {
    width: 100%;
    border-bottom: 1px solid var(--text-color-gray);
    font-size: clamp(10px, 2vw, 12px);
    text-align: left;
    padding-left: 0.2em;
  }
}
