.favorite_container {
  width: 100%;

  h4 {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    margin: 0em 0em 1em 0em;
  }
}

.favorite_card_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1;
  gap: 1.5em;
}
