.box_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 3em;
  margin: 3em 0;

  h4 {
    font-size: clamp(30px, 6vw, 3em);
    font-weight: bold;
    line-height: 1.5em;
  }
}

.scroll_animation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.link_btn {
  border: 2px solid var(--line-color);
  border-radius: 3px;
  padding: 0.5em;
  font-weight: bold;
  color: var(--text-color);
  display: inline-block;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.link_btn:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 500px) {
  .main_video {
    video {
      aspect-ratio: 16 / 9;
    }
  }
}
