.consent {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: bold;

    & label {
        color: var(--text-sub-color);
    }

    & button {
        color: var(--text-sub-color);
    }
}

.consent-inner {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.consent-text {
    display: flex;
}
