.complete-section {
  text-align: center;
  h3 {
    color: var(--text-color);
    margin-bottom: 1em;
  }

  p {
    color: var(--text-color);
    margin-bottom: 2em;
  }
}

.myPage-link {
  color: var(--text-color-yellow);
  font-weight: bold;
}

.point-text {
  color: var(--text-color-gray);
  font-weight: bold;
  letter-spacing: 2px;
}
