.mypage_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;

  h5 {
    font-size: 1.2em;
    width: max-content;
  }
}

.mypage_profile_banner {
  border: 2px solid var(--text-color);
  background: linear-gradient(to bottom right, #0f2027, #2c5364);
  border-radius: 8px;
  padding: 1em 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  .mypage_banner_info {
    p {
      margin-bottom: 1em;
    }
  }

  .mypage_banner_count {
    .mypage_banner_item {
      display: flex;
      flex-direction: column;
      gap: 1em;
      text-align: center;
      position: relative;
      padding-left: 2em;

      span {
        border: 1px solid white;
        padding: 0.4em 0.8em;
        border-radius: 20px;
      }
    }

    .mypage_banner_item::before {
      bottom: 3px;
      content: "";
      left: 0;
      position: absolute;
      top: 3px;
      width: 1px;
      height: 100%;
      background-color: var(--line-color);
    }
  }
}

.mypage_view {
  display: flex;
  gap: 2em;

  img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .mypage_profile_link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      padding: 0.8em 2em;
      color: var(--text-color);
      background-color: #f1f2f4;
      border-radius: 5px;
    }
  }

  .mypage_preview {
    flex: 1;
    gap: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .mypage_preview_item {
      border: 1px solid var(--line-color);
      border-radius: 5px;
      padding: 1em;
      position: relative;
      overflow-y: scroll;
      max-height: 400px;
      box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.3);

      .mypage_preview_title {
        display: flex;
        justify-content: space-between;
      }

      p {
        margin: 1em 0;
      }
    }

    .mypage_calendar {
      border-bottom: 1px dashed var(--line-color);
      display: flex;
      align-items: center;
      gap: 2em;
      margin: 1em 0;
      padding-bottom: 0.5em;

      span {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        background-color: var(--text-color-lightgray);
        padding: 1em;
        border-radius: 50%;
      }
    }
    .mypage_calendar.first {
      span {
        background-color: var(--theme-color-blue);
        color: var(--text-color-white);
      }
    }
  }
}

.mypage_calendar:nth-of-type(1) {
  background-color: red;
}

.mypage_graph_section {
  h5 {
    margin: 1em 0em;
    color: var(--text-color);
    font-weight: bold;
  }

  canvas {
    border: 1px solid var(--line-color);
    border-radius: 0;
    padding: 1em;
    min-height: 400px;
    width: 100px;
    margin-bottom: 2em;
  }

  .scroll-container {
    overflow-x: auto;
  }

  .scroll-container::-webkit-scrollbar {
    display: none;
  }
}

.graph_dropdown {
  display: flex;
  align-items: center;
  gap: 1em;

  .dropdown_container {
    width: 6em;
    border-bottom: 1px solid var(--line-color);
    text-align: center;
  }

  .dropdown_select {
    line-height: 1.2em;
  }
}

.mypage_preview_item {
  .chat_container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    section {
      flex: 1;
      padding: 1em;
      background-color: #edf5fb;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
    }
  }

  .chat_content_box {
    padding: 0;
    height: 4em;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;

    box-shadow: none;
    border-bottom: 1px solid #e0e0e0;
    margin: 1em 0;

    .chat_inner {
      display: flex;
      gap: 1em;
      align-items: center;
    }

    .des {
      text-wrap: nowrap;
    }

    .chat_box_info {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }

    .chat_box_img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      background-color: var(--line-color);
      margin: 0;
    }

    .chat_box_date {
      text-align: center;
      font-size: 0.9em;
    }

    .chat_box_name {
      font-weight: bold;
      font-size: 1em;
      text-wrap: nowrap;
    }
  }
}
