.login-text {
    display: flex;
    justify-content: center;
    margin: 3rem 0rem;
    font-weight: 900;
    font-size: 20px;
}

.login_button {
    border: none;
    background-color: white;
    margin: 1rem 0rem;
    padding: 0px;
    width: 251px;
}

.login_img {
    width: 100%;
    height: auto;
}
