.sellebForm1-container {
    height: auto;

    & section {
        margin-top: 1em;
    }

    & select {
        height: 2.5em;
        cursor: pointer;
    }
}

.form-name {
    display: flex;
    gap: 1em;
    height: auto;
    line-height: 1.4;
}

.birth-section {
    border-bottom: 1px solid var(--line-color);
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    & div {
        display: flex;
        gap: 1em;
        align-items: center;
    }

    & select {
        text-align: center;
        width: 6em;
        color: var(--text-sub-color);
        font-weight: bold;
    }

    & span:first-child {
        color: var(--text-sub-color);
        font-weight: bold;
    }
}

.option-birth {
    display: flex;
    margin-left: 2em;

    div {
        position: relative;
    }

    & span {
        position: absolute;
        right: 0;
        cursor: pointer;
        color: var(--text-sub-color);
    }
}

.section-country {
    display: flex;
}

.country-dropdown {
    display: flex;
    gap: 1em;
    width: 100%;

    & select {
        width: 100%;
        color: var(--text-sub-color);
        font-weight: bold;
        padding-left: 0.5em;
    }

    & div {
        display: flex;
        align-items: center;
        width: 5em;
        height: 2.5em;
        border-bottom: 1px solid var(--line-color);
        position: relative;
    }

    & span {
        color: var(--text-sub-color);
        position: absolute;
        right: 0;
        cursor: pointer;
    }
}

.section-address {
    display: flex;
    flex-direction: column;
    gap: 1em;

    & span {
        position: absolute;
        right: 0;
        cursor: pointer;
    }
}

.auth-num-section {
    position: relative;

    & button {
        position: absolute;
        right: 0;
        top: 0;
        height: 2.5em;
        font-weight: bold;
        padding: 0.5em 0.8em;
        border-radius: 5px;
        transition: 0.25s;
    }

    & button:hover {
        background-color: #5a5a5a;
        color: white;
    }
}
