.tag_container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  span {
    color: var(--text-color);
    width: clamp(4em, 5vw, 5em);
    height: 2em;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 1.7em;
    border-radius: 8px;
    border: 2px solid var(--line-color);
  }
}
