.tag_container {
  display: flex;

  flex-wrap: wrap;
  gap: 0.5em;

  /* border: 2px solid var(--line-color); */

  width: max-content;

  & span {
    color: var(--text-color);
    width: 5em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid var(--line-color);
  }
}
