.tag-container {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 0.5em;

    & span {
        text-align: center;
        border: 2px solid var(--line-color);
        color: var(--text-color);
        padding: 0.3em 1em;
        border-radius: 8px;
    }
}
