.inputNav {
  position: relative;
  left: 10%;
}

.inputNav input {
  width: 20rem;
  height: 2rem;
  padding-left: 15%;
  border: none;
}

.inputNav input:focus {
  outline: none;
  border-bottom: 1px solid var(--line-color);
}

.navIcon {
  position: absolute;
  top: 30%;
  left: 2%;
}
