.sellecter_profile {
  width: 100%;

  & header {
    display: flex;
    justify-content: space-between;

    & nav {
      display: flex;
      margin-bottom: 0.5em;

      & button {
        font-weight: bold;
      }
    }

    & h3 {
      letter-spacing: 3px;
      font-weight: 600;
    }
  }
}

.sellecter_main_profile {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 6em;
  margin-bottom: 3em;
}

.sellecter_main_profile_img {
  & img {
    width: 25em;
    height: 25em;
    object-fit: cover;
    object-position: top;
  }
}

.sellecter_profile_info {
  border: 2px solid var(--line-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;

  & dl {
    gap: 1.5em;
  }

  .tag_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10em;
  }
}

.selleb_project {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0em;

  & ul {
    padding: 0;
  }

  & li {
    list-style-type: "-";
    margin-left: 1em;
    padding-left: 0.5em;
  }
}

.selleb_career {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0em;

  & li {
    list-style-type: "-";
    padding-left: 0.5em;
  }
}
