.sellecter_profile {
  width: 100%;

  .sellecter_profile_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    h3 {
      letter-spacing: 3px;
      font-size: 2em;
      margin: 0;
    }
  }
}

.sellecter_main_profile {
  width: 100%;
  display: flex;
  gap: 2em;
  margin-bottom: 3em;
}

.sellecter_main_profile_img {
  min-width: 380px;
  height: 400px;
  img {
    object-fit: cover;
    object-position: top;
  }
}

.sellecter_profile_info {
  border: 2px solid var(--line-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  width: 100%;

  dl {
    gap: 1.5em;
  }

  .tag_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10em;
  }
}

.sellecter_project {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0em;

  ul {
    padding: 0;
  }

  li {
    list-style-type: "-";
    margin-left: 1em;
    padding-left: 0.5em;
  }
}
