.login_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  & h5 {
    margin: 3em 0em;
    font-weight: 900;
    color: var(--text-color);
  }

  a {
    border: 2px solid var(--line-color-blue);
    padding: 0.5em 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  span {
    flex-grow: 1;
    text-align: left;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.kakao_icon {
  background-color: #fee500;
  border-radius: 50%;
}
