.keyword_section {
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 1.2em;
  font-weight: bold;
  flex-wrap: wrap;
}

.keyword_box {
  border-bottom: 2px solid var(--line-color);
  color: var(--text-color);
  padding: 0.5em 1em;

  transition: 0.5s;
  cursor: pointer;
}

.keyword_box.focus {
  border-bottom: 2px solid black;
}
