.comp_login_button_section {
    display: flex;
    justify-content: center;
}

.comp_login_button {
    display: flex;
    align-items: center;
    border: 3px solid #def7ff;
    background-color: white;
    margin: 0.5rem 0rem;
    width: 250px;
    height: 50px;
    padding: 0rem 1rem;
}

.comp_logo {
    margin: 0rem 0.5rem;
    width: 30px;
    height: 30px;
}
