.form-name {
    display: flex;
    gap: 1em;
    height: auto;
    line-height: 1.4;
}

.section-country {
    display: flex;
}

.auth-num-section {
    position: relative;

    & button {
        position: absolute;
        top: 0.5em;
        right: 0.3em;
        background-color: var(--main-color);
    }
}

.birth-section {
    border: 1px solid black;
    padding-left: 0.2em;
    display: flex;
    align-items: center;

    & div {
        display: flex;
        width: 15em;
        gap: 1em;
        margin-left: 3.3em;
    }

    & select {
        border: none !important;
        text-align: right;
    }
}

.sellebForm1-container {
    height: auto;
    & section {
        margin-top: 1em;
    }

    & select {
        height: 2em;
        padding-left: 0.2em;
        border: 1px solid black;
        width: 7em;
    }
}

.section-address {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
