.padding {
    display: flex;
    justify-content: space-around;
    width: 100%;

    & button {
        border: 1px solid red;
    }

    & input {
        display: none;
    }

    & img {
        width: 15em;
        height: 15em;
    }
}

.미리보기 {
    border: 1px solid black;
    width: 10em;
    height: 10em;
}
