.form-input {
    border-bottom: 1px solid var(--line-color);
    width: 100%;
    height: 2.5em;
    display: flex;
    position: relative;

    /* 
    & label {
        width: 35%;
        padding-left: 0.2em;
        color: var(--text-color);
        font-weight: bold;
        margin: 0;
        display: flex;
        align-items: center;
    } */

    & input {
        width: 100%;
        height: auto;
        cursor: pointer;
        padding-left: 0.5em;
    }

    & input::placeholder {
        color: var(--text-sub-color);
        font-weight: bold;
    }

    & span {
        color: var(--warn-color);
        font-size: 0.7em;
        position: absolute;
        bottom: -1.3em;
    }
}
