.sellebForm1-container {
    height: auto;

    & section {
        margin-top: 1em;
    }

    & select {
        height: 2em;
        padding-left: 0.2em;
        cursor: pointer;
    }
}

.form-name {
    display: flex;
    gap: 1em;
    height: auto;
    line-height: 1.4;
}

.birth-section {
    border: 1px solid black;
    padding-left: 0.2em;
    display: flex;
    align-items: center;

    & div {
        display: flex;
        width: 15em;
        gap: 1em;
        align-items: center;
    }

    & select {
        text-align: center;
        width: 6em;
    }
}

.option-birth {
    display: flex;
    margin-left: 2em;

    div {
        position: relative;
    }

    & span {
        position: absolute;
        right: 0;
        cursor: pointer;
    }
}

.section-country {
    display: flex;
    gap: 1em;

    & select {
        border: 1px solid black;
        width: 40%;
    }
}

.section-address {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.auth-num-section {
    position: relative;

    & button {
        position: absolute;
        top: 0.5em;
        right: 0.3em;
        background-color: var(--main-color);
    }
}
