.sellecter_edit_profile {
  width: 100%;

  .sellecter_edit_profile_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    h3 {
      letter-spacing: 3px;
      margin: 0;
    }
  }
}

.sellecter_edit_main_profile {
  width: 100%;
  gap: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.sellecter_edit_sellecter_img {
  max-height: 400px;
  max-width: 400px;
  width: 100%;
  aspect-ratio: 1/1;

  label {
    width: 100%;
    aspect-ratio: 1/1;
  }

  img {
    object-fit: cover;
    object-position: top;
  }
}

.sellecter_edit_profile_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid var(--line-color);
  padding: clamp(1em, 2vw, 1.5em);
  gap: 0.5em;

  dl {
    height: 100%;
    width: 100%;
    gap: clamp(1em, 2vw, 1.5em);

    dt {
      font-size: clamp(0.875em, 2vw, 1.2em);
    }
  }

  input {
    text-align: left;
    letter-spacing: 1px;
    width: 100%;
  }

  input:not(:placeholder-shown) {
    background-color: white;
  }
}

.sellecter_edit_profile_List {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  dl {
    margin-bottom: clamp(1em, 2vw, 2em);
  }
  .tag_container {
    overflow: hidden;

    span {
      width: clamp(4em, 4vw, 5em);
      font-size: clamp(0.875em, 1vw, 1em);
    }
  }

  .sellecter_edit_project {
    h5 {
      color: var(--text-color);
      font-weight: bold;
      font-size: clamp(0.875em, 2vw, 1.2em);
      margin-bottom: 0.5em;
      width: max-content;
    }
  }
}

.sellecter_edit_tags_list {
  ul {
    display: flex;
    flex-direction: column;
    padding: 0em;
    flex-wrap: wrap;
    max-height: 10em;
    margin-bottom: 0.5em;

    li {
      list-style: none;
      position: relative;
      margin-top: 0.5em;
      width: max-content;

      button {
        position: absolute;
        right: 0.3em;
        top: 0.4em;
        border: none;
        background-color: inherit;
        cursor: pointer;
      }
    }
  }

  input {
    width: 5.8em;
    border-bottom: 1px solid var(--line-color);
    height: 1.7em;
  }

  .input_container {
    width: max-content;
  }
}

.edit_career {
  display: flex;
  flex-direction: column;
  gap: 1em;

  li {
    list-style-type: "-";
    padding-left: 0.5em;
  }
}

@media screen and (max-width: 430px) {
  .sellecter_edit_main_profile {
    flex-direction: column;
  }

  .sellecter_edit_sellecter_img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .sellecter_edit_profile_info {
    gap: 2em;
    padding: 1em;
    flex: 1;

    dl {
      gap: 2em;
    }
  }

  .sellecter_edit_profile_List {
    height: 320px;
  }

  .sellecter_edit_tags_list {
    ul {
      li {
        button {
          right: 0.2em;
        }
      }
    }
  }
}
