.sellecter_edit_profile {
  width: 100%;

  .sellecter_edit_profile_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    h3 {
      letter-spacing: 3px;
      margin: 0;
      font-size: 2em;
    }
  }
}

.sellecter_edit_main_profile {
  width: 100%;
  display: flex;
  gap: 2em;
  margin-bottom: 3em;
}

.sellecter_edit_sellecter_img {
  min-width: 380px;
  height: 400px;
  img {
    object-fit: cover;
    object-position: top;
  }
}

.sellecter_edit_profile_info {
  border: 2px solid var(--line-color);
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2.2em 0em;
  gap: 5em;

  dl {
    gap: 1.5em;

    dt {
      margin: 0;
    }
  }

  input {
    text-align: left;
    letter-spacing: 1px;
    width: 100%;
  }

  input:not(:placeholder-shown) {
    background-color: white;
  }
}

.sellecter_edit_profile_List {
  height: 100%;

  .tag_container {
    overflow: hidden;
  }
}

.sellecter_edit_project_title {
  font-size: 1.2em;
  font-weight: 700;
  color: var(--text-color);
  display: block;
  white-space: nowrap;
}

.edit_career {
  display: flex;
  flex-direction: column;
  gap: 1em;

  li {
    list-style-type: "-";
    padding-left: 0.5em;
  }
}

.sellecter_edit_tags_list {
  ul {
    display: flex;
    flex-direction: column;
    padding: 0em;
    flex-wrap: wrap;
    max-height: 10em;

    li {
      list-style: none;
      position: relative;
      height: 2em;
      margin-top: 0.5em;
      width: max-content;

      button {
        position: absolute;
        right: 0.3em;
        top: 0.3em;
        border: none;
        background-color: inherit;
      }
    }
  }

  input {
    width: 5.8em;
    border-bottom: 1px solid var(--line-color);
  }
}
