.model_container {
  width: 100%;
  display: flex;
  gap: 2em;
}

.model_sidebar {
  position: sticky;
  top: 1em;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.model_main_section {
  width: 1000px;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: bold;
    letter-spacing: 1.5px;
  }

  .load_more_btn {
    display: flex;
    justify-content: center;
    margin-top: 1em;

    .black:hover {
      background-color: black;
      color: var(--text-color-white);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
    }

    .custom_button {
      margin: 0;
    }
  }
}

.model_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0em;

  > span {
    font-weight: bold;
  }
}

.model_dropdown {
  .dropdown_container {
    width: 7em;
  }
  .dropdown_select {
    border-bottom: 1px solid var(--line-color);
    padding: 0.5em;
    text-align: center;
  }
  .dropdown_list {
    & li {
      text-align: center;
      cursor: pointer;
    }
  }
}

.model_card_section {
  /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* 왼쪽 정렬 */
  flex: 1;
}

.model_card_section > div {
  margin-right: 4.25em;
}

.model_card_section > div:nth-child(3n) {
  margin-right: 0;
}
