.selleb_profile {
  margin-top: 1em;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  & header {
    display: flex;
    justify-content: space-between;

    & nav {
      display: flex;
      margin-bottom: 0.5em;

      & button {
        font-weight: bold;
      }
    }

    & h3 {
      letter-spacing: 3px;
      font-weight: 600;
    }
  }

  .tag_container {
    border: none;

    & span {
      border: 2px solid var(--line-color);
      border-radius: 8px;
    }
  }
}

.main_profile {
  width: 100%;
  display: flex;
  gap: 1em;
  margin-bottom: 3em;
}

.main_profile_img {
  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.profile_pictures {
  display: flex;
  gap: 1em;

  & img {
    height: 13em;
    width: 13em;
    object-fit: cover;
  }
}

.profile_List {
  display: flex;
  justify-content: center;
  padding: 2.5em 0em;
  gap: 3em;
  margin-top: 1em;
  border: 2px solid var(--line-color);

  & dl {
    gap: 3em;
  }
}

.profile_range {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 3em;
  border-top: 2px solid var(--line-color);
  padding: 3em 0em;

  & h5 {
    color: var(--text-color);
    font-weight: bold;
  }

  & span {
    font-weight: bold;
    color: var(--text-sub-color);
  }
}

.hourly_rangebar {
  width: 16em;
  position: relative;

  & div {
    display: flex;
    justify-content: space-between;
  }

  & label {
    color: var(--text-color);
    font-weight: bold;
    font-size: 0.8em;
  }
}

.hourly_rangebar::after {
  content: "";
  width: 2px;
  height: 100%;
  top: 0;
  right: -4em;
  background-color: var(--line-color);
  position: absolute;
}

.pay_text {
  display: flex;
  flex-direction: column;
}

#hourlyPay_bar {
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: var(--text-color);
  height: 0.2em;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--text-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

.tabs_content {
  & img {
    width: 45em;
    height: 60em;
    object-fit: cover;
    margin-bottom: 1em;
  }
}

.career {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0em;

  & li {
    list-style-type: "-";
    padding-left: 0.5em;
  }
}

.star-icons {
  font-size: 1.5em;
}
