.quotationForm {
  display: flex;
  flex-direction: column;
  gap: 1em;

  img {
    width: 200px;
    height: 220px;
  }

  textarea {
    border: 1px solid var(--line-color);
    padding: 1em;
    resize: none;
  }

  .react-calendar {
    position: absolute;
    top: 2.4em;
    right: 0;
    z-index: 99;
    width: 280px;
  }

  .react-calendar__month-view__days__day-names,
  .react-calendar__month-view__days__day {
    abbr {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
    }
  }

  input:not(:placeholder-shown) {
    background-color: white;
  }
}

.top_section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  span {
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
}
.img_box {
  width: 200px;
  height: 220px;
  border: 2px solid var(--line-color);
}

.description_box {
  border: 1px solid var(--line-color);
  height: auto;
  padding: 1em;
  line-height: 1.5em;
}

.info_section {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;

  fieldset {
    display: flex;
    flex-direction: column;
     box-sizing: border-box;

    span:first-child {
      padding-left: 1em;
    }
  }

  legend {
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 0.2em;
    font-size: 1.2em;
  }
}

.date_section {
  display: flex;
  align-items: center;
  gap: 2em;

  .date_calendar {
    position: relative;
    border-bottom: 1px solid var(--line-color);
    display: flex;
    height: 2.5em;
    align-items: center;
    padding-top: 0.5em;
  }

  span {
    margin: 0;
    font-weight: bold;
    color: var(--text-color-gray);
  }

  p {
    margin: 0;
    margin-left: auto;
    padding-right: 1em;
  }

  div {
    width: 100%;

    label {
      width: 100%;
      padding-left: 1em;
    }
  }

  .custom-dropdown {
    label {
      padding-top: 0.5em;
    }
    .selected-section {
      display: flex;
      align-items: center;
      padding-right: 0;
    }
  }
}

.label_input {
  display: flex;

  label {
    padding: 0em 1em;
    padding-top: 0.5em;
    white-space: nowrap;
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    color: var(--text-color-gray);
    font-weight: bold;
  }

  input {
    width: 700px;
    margin-left: auto;
  }
}

.portfolio_file {
  border-bottom: 1px solid var(--line-color);
  display: flex;
  align-items: center;
  height: 2.5em;
  width: 100%;

  span {
    color: var(--text-color-gray);
    font-weight: bold;
    padding-top: 0.5em;
  }

  input {
    margin-left: auto;
    width: 15em;
    cursor: pointer;
  }
}

.files_name {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-wrap: wrap;

  li {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 0.3em;
    width: 100%;
  }

  span {
    width: 100%;
  }
}

.work_scope {
  display: flex;
  border-bottom: 1px solid var(--line-color);
  height: 2.5em;
  align-items: center;
  justify-content: space-between;

  > span:first-child {
    color: var(--text-color-gray);
    font-weight: bold;
    white-space: nowrap;
    padding-top: 0.5em;
  }
}

.tags_list {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 3.5em;

  .input_container {
    margin-left: auto;
    display: flex;
    flex-shrink: 0;

    input {
      width: 5em;
      height: 2em;
      border: none;
    }

    input::placeholder {
      font-size: 0.8em;
    }
  }

  .tag_container {
    height: 2em;
    display: flex;
    align-items: center;

    span {
      padding: 0em 1em;
      min-width: 5.5em;
      height: 100%;
      font-size: 0.725em;
      font-weight: bold;
      white-space: nowrap;
      width: max-content;
    }
  }

  ul {
    display: flex;
    gap: 0.5em;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      position: relative;

      button {
        position: absolute;
        right: 0em;
        top: 0.4em;
        border: none;
        background-color: inherit;
      }
    }
  }
}

.confirm_section {
  border: 2px solid var(--line-color);

  th {
    width: 30%;
    padding: 0.5em 3em;
    text-align: right;
  }

  td {
    padding: 0.5em 3em;
    text-align: right;
  }

  .total_row {
    background-color: #eee;
    font-weight: bold;
  }
}

.submit_btn {
  display: flex;
  justify-content: flex-end;
}


@media screen and (max-width:430px){

.quotationForm {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;

    textarea {
    width: 100%;
  }

}

.top_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}
.description_box {
  width: 100%;
  max-width: 100%;
}

.info_section {
   max-width: 430px;
   padding: 0;

  fieldset {
  width: 100%;
  border: none;


    span:first-child {
      padding-left: 1em;
    }
  }

  legend {
  font-size: 1em;
  }
}

.date_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 0;
}
.label_input{
  input{
    width: 100%;
  }
}

.confirm_section {
  th {
    padding: 0.5em;

  }
}
}
