.profile-Section {
  width: 100%;
  height: 100%;

  border: 1px solid var(--text-color-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: var(--text-color-gray);
    flex: 1;
    width: 100%;
    aspect-ratio: 1/1.2;
  }

  input {
    display: none;
  }
}

.profilePreview {
  position: relative;
  border: 1px solid var(--text-color-gray);
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: inherit;
  }
}
