.pay-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  p {
    margin: 0;
    color: var(--text-color);
    line-height: 1.3em;
  }

  h5 {
    color: var(--text-color);
    font-weight: bold;
  }

  input {
    appearance: none;
  }
}

.show_payvalue {
  border-bottom: 1px solid var(--line-color);
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-gray);

  strong {
    margin-right: 0.5em;
  }

  div {
    margin-top: 0.1em;
    padding-left: 0.5em;
  }
}

.select-currency {
  display: flex;
  height: 2.5em;
  align-items: center;
  border: 2px solid var(--line-color);
  color: var(--text-color);
  font-weight: bold;
  justify-content: space-around;
  width: 100%;

  label {
    cursor: pointer;
  }

  input {
    width: 13px;
    height: 13px;
    border: 2px solid var(--text-color);
    cursor: pointer;
    margin-left: 0.3em;
  }

  input:checked {
    background-color: var(--text-color-gray);
  }
}

.select-currency-self {
  width: 100%;
  input {
    text-align: right;
  }

  p {
    font-size: 0.675em;
    text-align: right;
    margin-top: 0.5em;
    color: var(--warn-color);
  }
}
.pay-bar-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  span {
    color: var(--text-color);
    font-weight: bold;
    padding: 0.5em 0em;
  }
}

.unit-text {
  font-size: 0.7em;
  user-select: none;
  margin-top: 0.5em;
  margin-left: auto;
}

#pay-rangebar {
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: var(--text-color);
  height: 0.2em;
}

#pay-rangebar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--text-color) !important;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
