.file_content {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;

  img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }
}
