.notice_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 1em;
  position: relative;
  margin-bottom: 2em;

  & textarea {
    width: 100%;
    border: 1px solid var(--line-color);
    padding: 1em;
    resize: none;
    height: auto;
    overflow: hidden;
  }

  & button {
    position: absolute;
    right: 1em;
  }
}

.notice_preview {
  white-space: pre-wrap;
  border: 1px solid var(--line-color);
  padding: 1em;
  min-height: 17em;
}
