.sidebar_container {
  border: 3px solid var(--text-color-gray);
  /* position: absolute;
  left: -15%; */
  width: 12em;
  max-height: max-content;
  padding: 1em;
  border-radius: 15px;
  background-color: white;
}

/* .sidebar_container {
  border: 3px solid var(--text-color-gray);
  position: fixed;
  left: 50px;
  top: 100px;
  bottom: 20px;

  max-height: max-content;
  padding: 1em;
  border-radius: 15px;
  background-color: white;
  z-index: 1000;
} */
